* {
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  margin: 0;
  background: #e6e8eb;
}

.header {
  background: linear-gradient(90deg, #0f4c75, #3282b8);
  color: white;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  padding: 22px;
  letter-spacing: 3px;
}

.container {
  display: flex;
  height: calc(100vh - 90px);
}

.sidebar {
  width: 240px;
  background: #1f2933;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 4px 0 10px rgba(0,0,0,0.3);
}

.sidebar button {
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

#startBtn {
  background: #e63946;
  color: white;
}

#startBtn:hover {
  background: #c1121f;
}

#stopBtn {
  background: #6c757d;
  color: white;
}

#stopBtn:hover {
  background: #495057;
}

.display {
  flex: 1;
  background: #f1f3f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#videoFeed {
  width: 85%;
  max-height: 85%;
  background: black;
  border-radius: 22px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  border: 4px solid #111;
}
