body {
  margin: 0;
  font-family: Arial;
  background: #efe6b0;
}

.header {
  background: #00a8e8;
  color: white;
  font-size: 36px;
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  height: calc(100vh - 80px);
}

.sidebar {
  width: 220px;
  background: #7a96b8;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar button, .sidebar input {
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

.sidebar button {
  background: red;
  color: white;
  cursor: pointer;
}

.display {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#videoFeed {
  width: 80%;
  max-height: 80%;
  background: black;
  border-radius: 20px;
}
